
* {
    & {
        ::-webkit-scrollbar {
            width: 5px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
            
          }
        
        ::-webkit-scrollbar-thumb {
            transition: .3s;
            background: $third-color;
            border-radius: 10px;
            
          }
    }
}